Source: elmerfem
Section: science
Priority: extra
Maintainer: Markus Hovorka <m.hovorka@live.de>
Build-Depends: debhelper (>=9), dh-exec, quilt, cmake, gfortran,
 liblapack-dev, libblas-dev,
 mpi-default-dev, mpi-default-bin,
 libhypre-dev, libmumps-dev, libmetis-dev, libparmetis-dev,
 libqt4-dev, libqt4-opengl-dev, libqwt-dev, tk8.4-dev, tcl8.4-dev,
 libvtk-java, libvtk5-qt4-dev, tcl-vtk, python-vtk,
 liboce-modeling-dev
Standards-Version: 3.9.7
Homepage: https://github.com/ElmerCSC/elmerfem

Package: elmersolver
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, mpi-default-bin
Replaces: elmer, elmer-common, elmer-dbg, libelmer-dev,
 libelmersolver-6.1, libelmersolver-dbg, elmerfem, elmerfem-csc
Description: Solver of Elmer incl. matc, Mesh2D
 Elmer is a finite element software package for the solution of partial
 differential equations. Elmer can deal with a great number of different
 equations, which may be coupled in a generic manner making Elmer a
 versatile tool for multiphysical simulations. As an open source
 software, Elmer also gives the user the means to modify the existing
 solution procedures and to develop new solvers for equations of interest
 to the user.
 .
 ElmerSolver is a program executable forming the solver of Elmer. It is
 the soul of the Elmer software and the part where most of the
 development work is directed to. ElmerSolver includes a large number of
 finite element library tools which enable the user to write new equation
 solvers economically. The specific equation solvers are mainly available
 as dynamical libraries that have standard interfaces and can be linked
 to the main program on request.

Package: elmergrid
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: elmer, elmer-common, elmer-dbg, libelmer-dev,
 libelmersolver-6.1, libelmersolver-dbg, elmerfem, elmerfem-csc
Description: Mesh generation and manipulation
 Elmer is a finite element software package for the solution of partial
 differential equations. Elmer can deal with a great number of different
 equations, which may be coupled in a generic manner making Elmer a
 versatile tool for multiphysical simulations. As an open source
 software, Elmer also gives the user the means to modify the existing
 solution procedures and to develop new solvers for equations of interest
 to the user.
 .
 ElmerGrid provides functionality for the generation of simple structured
 meshes and may also be used for mesh manipulation and transformation
 tasks of many kinds. For example, ElmerGrid may be used to partition the
 mesh for parallel runs or to import meshes written by other mesh
 generators. The ElmerGrid command file is to be written using a text
 editor.

Package: elmergui
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, elmersolver, elmergrid
Replaces: elmer, elmer-common, elmer-dbg, libelmer-dev,
 libelmersolver-6.1, libelmersolver-dbg, elmerfem, elmerfem-csc
Description: Graphical user interface for Elmer
 Elmer is a finite element software package for the solution of partial
 differential equations. Elmer can deal with a great number of different
 equations, which may be coupled in a generic manner making Elmer a
 versatile tool for multiphysical simulations. As an open source
 software, Elmer also gives the user the means to modify the existing
 solution procedures and to develop new solvers for equations of interest
 to the user.
 .
 ElmerGUI is the graphical user interface for Elmer software based on the
 Qt cross-platform application framework (see http://www.qt.io). ElmerGUI
 includes ElmerGrid, and optionally tetlib and nglib, as finite element
 mesh generators. Also OpenCASCADE is included as the CAD import tool.
 ElmerGUI does not include any geometry definition tools so for defining
 the original geometry some other software must be used. However, the
 large number of supported formats should make the mesh import
 straightforward. With ElmerGUI the problem setup may be done easily using
 programmable menu structures that make the modification of the GUI very
 simple. ElmerGUI also controls the execution of the ElmerSolver and
 ElmerPost binaries and includes a real-time convergence monitor.

Package: elmerguilogger
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, elmergui
Replaces: elmer, elmer-common, elmer-dbg, libelmer-dev,
 libelmersolver-6.1, libelmersolver-dbg, elmerfem, elmerfem-csc
Description: Data logger for ElmerGUI
 Elmer is a finite element software package for the solution of partial
 differential equations. Elmer can deal with a great number of different
 equations, which may be coupled in a generic manner making Elmer a
 versatile tool for multiphysical simulations. As an open source
 software, Elmer also gives the user the means to modify the existing
 solution procedures and to develop new solvers for equations of interest
 to the user.
 .
 ElmerGUIlogger is used to debug ElmerGUI.

Package: elmerpost
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, elmersolver
Replaces: elmer, elmer-common, elmer-dbg, libelmer-dev,
 libelmersolver-6.1, libelmersolver-dbg, elmerfem, elmerfem-csc
Description: Old (discontinued) user interface for Elmer
 Elmer is a finite element software package for the solution of partial
 differential equations. Elmer can deal with a great number of different
 equations, which may be coupled in a generic manner making Elmer a
 versatile tool for multiphysical simulations. As an open source
 software, Elmer also gives the user the means to modify the existing
 solution procedures and to develop new solvers for equations of interest
 to the user.
 .
 ElmerPost is an old and versatile postprocessor that is expected to be
 quite sufficient for the usual postprocessing needs. Nevertheless it will
 not be developed anymore. ElmerPost provides a straight- forward
 graphical user interface that is easy to learn. ElmerPost utilizes Mesa
 and TCL/TK graphics libraries.
