#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=-all
export OMPI_MCA_plm_rsh_agent=/bin/false

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DWITH_ELMERPOST=TRUE \
		-DWITH_ELMERGUI=TRUE \
		-DWITH_ELMERGUILOGGER=TRUE \
		-DWITH_QWT=TRUE \
		-DWITH_VTK=TRUE \
		-DWITH_OCC=TRUE \
		-DWITH_PARAVIEW=TRUE \
		-DWITH_MPI=TRUE \
		-DWITH_Hypre=TRUE \
		-DWITH_Mumps=TRUE \
		-Wno-dev

override_dh_auto_build:
	dh_auto_build --parallel

override_dh_clean:
	dh_clean -Xautom4te.cache

override_dh_install:
	dh_install --list-missing \
		-Xlicense_texts \
		-Xlicense.terms

override_dh_fixperms:
	dh_fixperms
	chmod 0644 ./debian/*/usr/share/icons/hicolor/32x32/apps/elmergui.png
